---
import { Schema } from "astro-seo-schema";
import { Seo } from "astro-seo-meta";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { Image } from "astro:assets";
import logo from "../assets/troy_webdev_logo.svg";
//import bg from "../assets/web bg.svg";
import { UserPlus2 } from "lucide-astro";
import { Discord, Instagram, Googleclassroom } from "simple-icons-astro";
import "@fontsource-variable/handjet";
import "@fontsource/gruppo";
import "@fontsource/vt323";
import "@fontsource/courier-prime";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<meta name="generator" content={Astro.generator} />
		<!--<title>{title}</title>-->
		<Seo
			title={title}
			description={description}
			icon="favicon.svg"
			keywords={["troy", "club", "webdev", "web"]}
			themeColor="#000000"
			colorScheme="dark"
			facebook.type="website"
			twitter.card="summary"
		/>
		<Schema
			item={{
				"@context": "https://schema.org",
				"@type": "Organization",
				parentOrganization: {
					"@type": "School",
					name: "Troy High School",
					url: "https://www.fjuhsd.org/Troy",
				},
				name: "Troy WebDev Club",
				description: "A Troy High School club about web development",
				knowsAbout: ["web"],
				logo: {
					"@type": "ImageObject",
					author: "William Wang",
					name: "Troy Web Dev logo",
					datePublished: "2023-9-16",
					contentUrl: "favicon.svg",
				},
				address: {
					"@type": "PostalAddress",
					addressCountry: "USA",
					addressLocality: "Fullerton",
					addressRegion: "California",
					postalCode: "92831",
					streetAddress: "2200 Dorothy Ln",
				},
			}}
			}
		/>
	</head>
	<body>
		<header>
			<span id="logo-wrap" style="overflow:hidden">
				<Image src={logo} alt="the logo" width="100" />
				<h1>Troy Web Dev Club</h1>
				<style>
					h1,
					img {
						position: relative;
						animation: slidetop 1s ease-out 0s 1 alternate;
						margin: 0;
					}

					@keyframes slidetop {
						from {
							opacity: 0%;
							top: -27%;
						}
						to {
							opacity: 100%;
							top: 0%;
						}
					}
					@keyframes slideleft {
						from {
							opacity: 0%;
							left: 27%;
						}
						to {
							opacity: 100%;
							left: 0%;
						}
					}
				</style>
			</span>
		</header>
		<main><slot /></main>
		<footer>
			<ul id="nav">
				<li>
					<a href="https://join.troywebdev.com" target="_blank"
						><button><UserPlus2 /><br />Join</button></a
					>
				</li>
				<li>
					<a href="https://discord.troywebdev.com" target="_blank"
						><button><Discord /><br />Discord</button></a
					>
				</li>
				<li>
					<a href="https://gclassroom.troywebdev.com" target="_blank"
						><button><Googleclassroom /><br />Classroom</button></a
					>
				</li>
				<li>
					<a href="https://www.instagram.com/ths_webdev/?hl=en" target="_blank"
						><button><Instagram /><br />Instagram</button></a
					>
				</li>
			</ul>
			<style>
				ul {
					padding-top: 2em;
				}
			</style>
		</footer>
		<style is:global>
			button {
				display: block-inline;
				background: none;
				font-family: "Courier Prime";
				padding: 5px;
				font-size: 12pt;
				border: 2px solid white;
				border-radius: 10px;
			}
			button:hover {
				transform: scale(1.1);
			}
			button:active {
				transform: scale(1.1);
				border: 2px solid grey;
			}
			#nav {
				list-style: none;
				display: flex;
				justify-content: center;
				gap: 25px;
				margin: 0;
				padding: 0;
			}
			header {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}
			footer {
				position: fixed;
				bottom: 0;
				width: 100%;
			}
			.center {
				text-align: center;
			}
			#logo-wrap {
				display: flex;
				justify-content: center;
				gap: 10px;
				align-items: center;
			}
			h1 {
				font-family: Gruppo;
				font-weight: 700;
				font-size: 60pt;
			}
			h2 {
				font-family: "Handjet Variable";
				font-weight: 700;
				font-size: 24pt;
			}
			p {
				font-family: "Courier Prime";
			}
			li {
				font-family: "Courier Prime";
			}
			body {
				cursor: url(/assets/cur.svg), auto;
				background: url("../assets/bg-opt.svg") no-repeat center center fixed;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
		</style>
		<style>
			body {
				overflow-x: hidden;
			}
		</style>
	</body>
</html>
